

.App-link {
  color: #61dafb;
}

.avatar {
  height: 50px;
  min-width: 50px;
  border-radius: 25px;
  margin: 10px;
  border: 1px solid black;
  align-content: center;
}

.test {
  text-decoration: none;
}
